<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @order.user %>
</p>

<p>
  <b>Product:</b>
  <%= @order.product %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
